*

!/Ecu_Motion_TC375_LK/
!/Ecu_Motion_TC375_LK/Apps/
!/Ecu_Motion_TC375_LK/Apps/**
!/Ecu_Motion_TC375_LK/Basics/
!/Ecu_Motion_TC375_LK/Basics/**
!/Ecu_Motion_TC375_LK/Configurations/
!/Ecu_Motion_TC375_LK/Configurations/**
!/Ecu_Motion_TC375_LK/Libraries/
!/Ecu_Motion_TC375_LK/Libraries/**
!/Ecu_Motion_TC375_LK/Tests/
!/Ecu_Motion_TC375_LK/Tests/**
!/Ecu_Motion_TC375_LK/Utils/
!/Ecu_Motion_TC375_LK/Utils/**

!/Ecu_Lighting_TC375_LK/
!/Ecu_Lighting_TC375_LK/Apps/
!/Ecu_Lighting_TC375_LK/Apps/**
!/Ecu_Lighting_TC375_LK/Basics/
!/Ecu_Lighting_TC375_LK/Basics/**
!/Ecu_Lighting_TC375_LK/Configurations/
!/Ecu_Lighting_TC375_LK/Configurations/**
!/Ecu_Lighting_TC375_LK/Libraries/
!/Ecu_Lighting_TC375_LK/Libraries/**
!/Ecu_Lighting_TC375_LK/Tests/
!/Ecu_Lighting_TC375_LK/Tests/**
!/Ecu_Lighting_TC375_LK/Utils/
!/Ecu_Lighting_TC375_LK/Utils/**

!/Ecu_Gateway_TC375_LK/
!/Ecu_Gateway_TC375_LK/Apps/
!/Ecu_Gateway_TC375_LK/Apps/**
!/Ecu_Gateway_TC375_LK/Basics/
!/Ecu_Gateway_TC375_LK/Basics/**
!/Ecu_Gateway_TC375_LK/Configurations/
!/Ecu_Gateway_TC375_LK/Configurations/**
!/Ecu_Gateway_TC375_LK/Libraries/
!/Ecu_Gateway_TC375_LK/Libraries/**
!/Ecu_Gateway_TC375_LK/Tests/
!/Ecu_Gateway_TC375_LK/Tests/**
!/Ecu_Gateway_TC375_LK/Utils/
!/Ecu_Gateway_TC375_LK/Utils/**

!.gitignore